blockquote.rounded{
	border: 1px solid #ccc;
	border-radius: 5px;	
	overflow: hidden;
}
blockquote.rounded:hover {   
    box-shadow: 0px 0px 5px #174E85;
    transition: all 0.5s ;
}

.wrap_field
{
	margin: 20px 0px;
}

div[id ^= "cbfr"]>label
{
	font-weight: bold;
	display: block;
	float:left;
	width: 250px;
	height: auto;
	margin-right: 10px;
}
div[id ^= "cbfr"]> .cb_field{
	display: block;
	float:left;
}
div[id ^= "cbfr"] input.required{
	border-color: #35ace6;
}
.cb_result_error,.cb_result_ok{
	display: block;
	margin-left: 10px;
	font-weight: bold;
}
.cb_result_error
{
	color:red;
}
.cb_result_ok{
	color:green;
}
#profile hr{
	border-color: #aaa;
}
#patient_search label
{
	display: block;
	width: 200px;
}
.default_hide
{
	display: none;
}
#attachment_upload_area,
#attachment-items{
	margin: 20px;
}
