blockquote.rounded{
	border: 1px solid #ccc;
	border-radius: 5px;	
	overflow: hidden;
	padding:20px;
}
blockquote.rounded:hover {   
    box-shadow: 0px 0px 5px #174E85;
    transition: all 0.5s ;
}

.wrap_field
{
	margin: 20px 0px;
}

div[id ^= "cbfr"]>label
{
	font-weight: bold;
	display: block;
	float:left;
	width: 250px;
	height: auto;
	margin-right: 10px;
}
div[id ^= "cbfr"]> .cb_field{
	display: block;
	float:left;
}
div[id ^= "cbfr"] input.required{
	border-color: #35ace6;
}
.cb_result_error,.cb_result_ok{
	display: block;
	margin-left: 10px;
	font-weight: bold;
}
.cb_result_error
{
	color:red;
}
.cb_result_ok{
	color:green;
}
#profile hr{
	border-color: #aaa;
}
#patient_search label
{
	display: block;
	width: 200px;
}
.default_hide
{
	display: none;
}
#attachment_upload_area,
#attachment-items{
	margin: 20px;
}
#recent-add{
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 3px;
}
.cbFieldIcons{
	display: none;
}
#status_box{
	
	position: absolute;
	position: fixed;
	left:0px;
	bottom: 0px;
	padding:5px;
	margin-left:10px;
	border: 1px solid #000;
	border-radius: 3px;
	width: auto;
	background-color: #ddd;

}
.clearfix{
	clear: both;
}
.img-ga-contaner{
	width: 250px;
	height: 200px;
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
	margin: 5px;
	display: inline-block;
	float: left;

}
.img-ga-contaner a.jmodal
{
	display: block;
	overflow: hidden;
	height: 150px;
	width: 150px;
	margin: auto;
}