blockquote.rounded{
	border: 1px solid #ccc;
	border-radius: 5px;	
	overflow: hidden;
	padding:20px;
}
blockquote.rounded:hover {   
    box-shadow: 0px 0px 5px #174E85;
    transition: all 0.5s ;
}

.wrap_field
{
	margin: 20px 0px;
}

div[id ^= "cbfr"]>label
{
	font-weight: bold;
	display: block;
	float:left;
	width: 250px;
	height: auto;
	margin-right: 10px;
}
div[id ^= "cbfr"]> .cb_field{
	display: block;
	float:left;
}
div[id ^= "cbfr"] input.required{
	border-color: #35ace6;
}
.cb_result_error,.cb_result_ok{
	display: block;
	margin-left: 10px;
	font-weight: bold;
}
.cb_result_error
{
	color:red;
}
.cb_result_ok{
	color:green;
}
#profile hr{
	border-color: #aaa;
}
#patient_search label
{
	display: block;
	width: 200px;
}
.default_hide
{
	display: none;
}
#attachment_upload_area,
#attachment-items{
	margin: 20px;
}
#recent-add{
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 3px;
}
.cbFieldIcons{
	display: none;
}
#status_box{
	
	position: absolute;
	position: fixed;
	left:0px;
	bottom: 0px;
	padding:5px;
	margin-left:10px;
	border: 1px solid #000;
	border-radius: 3px;
	width: auto;
	background-color: #ddd;

}
.clearfix{
	clear: both;
}
.img-ga-contaner{
	width: 150px;
	height: 240px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin: 7px;
	display: inline-block;
	float: left;
	overflow: hidden;


}
.img-ga-contaner a.jmodal
{
	display: block;
	overflow: hidden;
	height: 150px;
	width: 150px;
	margin: auto;
}
#avatar_upload_area{
	
	padding: 20px;	
	border: 3px dashed #ccc;
}
#progress-bar,#attach-progress-bar{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	width: 300px;
	height: 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
#progress-bar-inner,#attach-progress-bar-inner{
	padding: 0px;
	background-color: #1ba1e2;	
	height: 100%;
	width: 0px;
	border-radius: 2px;
}
#avatar_fileName,#avatar_tool_box{
	padding: 10px;
}
#avatar-edit-zone{
	margin-top: 50px;
}
.noRotate{
    transform: rotate(0deg);
}
.rotatel90{
    transform: rotate(90deg);
}
.rotatel180{
    transform: rotate(180deg);
}
.rotatel270{
    transform: rotate(270deg);
}

@media (max-width: 480px) {
	.img-ga-contaner{
		margin-left: 22px;
	}
	
}

@media (max-width: 320px) {
	.img-ga-contaner{
		margin-left: 15%;
	}
	
}
