#cbfr_1084 label{
	display: none;
}
#captcha div:nth-child(2)
{
	display:none;
}
#captcha div:first-child
{
	margin-left:0px;
	margin-bottom:10px;
}
#cbfr_1052 #cblabcb_agreedatapolicy {
    position: absolute;
    margin-left: 40px;
    margin-top: -10px;
}
.jreg_error_status{
	color:red;
	font-weight: bold;
}
