@import "../fonts/roboto/stylesheet.css";
.wrap.ja-masshead
{
	background-color: #fff;
}
.wrap.ja-slideshow
{
	height: 400px;
}
.logo-text a
{
	font-weight: bold;
	color: #22313F;
	margin-left: 10px;
	margin-top: 20px;
	font-size: 40px;

}

.logo-text a:hover
{
	color: #19B5FE;
	text-decoration: none;

}
.t3-mainnav .navbar .nav > li > a
{
	font-size: 14px;
}
#home-page .span4{
	width: 30%;
}
#home-page .span8{
	width: 60%;
}
#home-page
{
	padding: 30px;
	margin-top:10px;	
}
#home-page .row
{
	margin-bottom: 30px;
}
#home-page .home-img{
	text-align: center;
	padding: auto;
}
#home-page .home-img em
{
	padding:10px;
	text-align: center;
	font-size: 250px;	
}
#home-page .home-img em#img1
{
	color:#26A65B;
}
#home-page .home-img em#img1:hover
{
	color:#D2527F;
}
#home-page .home-img em#img2
{
	color:#89C4F4;
}
#home-page .home-img em#img2:hover
{
	color:#D2527F;
}
#home-page .home-text
{
	text-align: justify;
	text-transform: none;
	color:#000;
	font-size: 14px;
}

span#recaptcha_privacy {
    display: none;
}
div#captcha_wrap {
    margin-bottom: 30px;
}
div#captcha_wrap:before {
    content: 'Please enter the code in the image below to the text box for completing registration';
    font-size: 14px;
    font-weight: bold;
}

blockquote.rounded{
	padding: 10px;
	margin:10px 0px;
}

@media (max-width: 979px) {
	.logo-text a
	
}
@media (max-width: 767px) {
	
}

@media (max-width: 480px) {
	
	#home-page .span4{
	width: 98%;
	}
	#home-page .span8{
		width: 98%;
	}
	.logo-text{
		margin-top: 20px;
	}
	.logo-text a{
		font-size: 30px;
	}
	
}
.page-header{
	display: none;
}