body {
  border: 0;
}
#ja-mainbody {
  margin: 0;
  padding: 10px 0;
}
#ja-mainbody .ja-content {
  padding: 20px;
}
#ja-mainbody #mailtoForm .inputbox {
  width: 50%;
}
#mailtoForm p .button {
  border: 1px solid #666666;
  font-weight: bold;
  margin: 0;
  padding: 5px 10px;
  vertical-align: middle;
  color: #fff;
  text-shadow: 1px 1px 0 #808080;
  background-color: #a8a8a8;
  background-image: -moz-linear-gradient(top,#b3b3b3,#999);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#b3b3b3),to(#999));
  background-image: -webkit-linear-gradient(top,#b3b3b3,#999);
  background-image: -o-linear-gradient(top,#b3b3b3,#999);
  background-image: linear-gradient(to bottom,#b3b3b3,#999);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb2b2b2', endColorstr='#ff999999', GradientType=0);
  border-color: #999 #999 #737373;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  
  *background-color: #999;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset -1px 1px 0 #bfbfbf;
  -moz-box-shadow: inset -1px 1px 0 #bfbfbf;
  box-shadow: inset -1px 1px 0 #bfbfbf;
}
#mailtoForm p .button:hover,
#mailtoForm p .button:focus,
#mailtoForm p .button:active,
#mailtoForm p .button.active,
#mailtoForm p .button.disabled,
#mailtoForm p .button[disabled] {
  color: #fff;
  background-color: #999;
  *background-color: #8c8c8c;
}
#mailtoForm p .button:active,
#mailtoForm p .button.active {
  background-color: #808080 \9;
}
#mailtoForm p .button:hover {
  border: 1px solid #4c2e16;
  color: #fff;
  text-shadow: 1px 1px 0 #744621;
  background-color: #b46c33;
  background-image: -moz-linear-gradient(top,#c47637,#9c5e2c);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#c47637),to(#9c5e2c));
  background-image: -webkit-linear-gradient(top,#c47637,#9c5e2c);
  background-image: -o-linear-gradient(top,#c47637,#9c5e2c);
  background-image: linear-gradient(to bottom,#c47637,#9c5e2c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc37537', endColorstr='#ff9c5e2c', GradientType=0);
  border-color: #9c5e2c #9c5e2c #603a1b;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  
  *background-color: #9c5e2c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset -1px 1px 0 #cc8349;
  -moz-box-shadow: inset -1px 1px 0 #cc8349;
  box-shadow: inset -1px 1px 0 #cc8349;
}
#mailtoForm p .button:hover:hover,
#mailtoForm p .button:hover:focus,
#mailtoForm p .button:hover:active,
#mailtoForm p .button:hover.active,
#mailtoForm p .button:hover.disabled,
#mailtoForm p .button:hover[disabled] {
  color: #fff;
  background-color: #9c5e2c;
  *background-color: #885226;
}
#mailtoForm p .button:hover:active,
#mailtoForm p .button:hover.active {
  background-color: #744621 \9;
}
a.itemPrintThisPage {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.itemPrintThisPage:hover,
a.itemPrintThisPage:focus,
a.itemPrintThisPage:active {
  border-color: #999;
}